.main {
    background: url(../image/main/main_background.png) center center no-repeat;
    height: 900px;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu {
            ul {
                list-style: none; /*убираем маркеры списка*/
                margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
                padding-left: 0; /*убираем левый отступ, равный 40px*/
            }
            a {
                text-decoration: none; /*убираем подчеркивание текста ссылок*/
            }
            li {
                display: inline;
            }
        }
        .social {
            ul {
                list-style: none; /*убираем маркеры списка*/
                margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
                padding-left: 0; /*убираем левый отступ, равный 40px*/
            }
            a {
                text-decoration: none; /*убираем подчеркивание текста ссылок*/
            }
            li {
                display: inline;
            }
        }
    }
    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
        
        }
    }
}